<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="病虫害专家检查系统首页">
    <meta name="author" content="lcy">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>检测</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <style>
        .img_div img{ width:800px; height:500px}
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/bghcs/index">
                        <b>
                            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span>
                            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->    
                            <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                         </span> </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="/bghcs/profile"><img src="assets/images/users/1.jpg" alt="user" class="" /> <span class="hidden-md-down" id="indexExpertName">xxx &nbsp;</span> </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark active" href="/bghcs/index" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">检测图片</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/bghcs/profile" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">个人信息</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/bghcs/table" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">统计</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/bghcs/link" aria-expanded="false"><i class="fa fa-link"></i><span class="hide-menu">友情链接</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/bghcs/contactus" aria-expanded="false"><i class="fa fa-address-card"></i><span class="hide-menu">联系我们</span></a>
                        </li>
                    </ul>
                    <div class="text-center m-t-30">
                        <button id="logout" class="btn waves-effect waves-light btn-info hidden-md-down" onclick="expertLogout()">退出登录</button>
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">检测图片</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/bghcs/index">主页</a></li>
                            <li class="breadcrumb-item"><a href="/bgcs/index">检测图片</a></li>
                            <li class="breadcrumb-item active">详细信息</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div style="padding:50px 50px 50px 50px;" class="img_div">
                <img id="imageShow" src=""/>
            </div>
            <h6 style="padding-left:50px;">点击查看原图:<a id="img_link" href="" target="_blank">图片链接</a></h6>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <!-- Tab panes -->
                    <div class="card-body">
                        <form class="form-horizontal form-material" id="review_form" onsubmit="return submitReview();">
                            <div class="form-group">
                                <label class="col-md-12">农作物名称</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="xxx" class="form-control form-control-line" id="input_cropName" name="input_cropName" onblur="return checkCropName();">
                                    <label id="input_cropNameWarn"> </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">病虫害名</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="xxx" class="form-control form-control-line" id="input_diseaseName" name="input_diseaseName" onblur="return checkDiseaseName();">
                                    <label id="input_diseaseNameWarn"> </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" type="submit">确认修改</button>
                                </div>
                            </div>
                            <div class="form-group" style="display:none" id="input_diseaseType">
                                <label class="col-md-12">病害类型</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="xxx" class="form-control form-control-line" id="diseaseType" name="diseaseType" disabled="true">
                                </div>
                            </div>
                            <div class="form-group" style="display:none" id="input_reviewTime">
                                <label class="col-md-12">检测时间</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="xxx" class="form-control form-control-line" id="reviewTime" name="reviewTime" disabled="true">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <footer class="footer"> © copyright www.aysst.cn 2019
                <p><a href="http://www.aysst.cn/" target="_blank" title="lcy">1762810130_李朝宇</a></p>
                <p>蜀ICP备19003562号-1</p>
            </footer>
        </div>
    </div>

    <script src="assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="assets/node_modules/bootstrap/js/popper.min.js"></script>
    <script src="assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <script src="assets/node_modules/raphael/raphael-min.js"></script>
    <script src="assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="assets/node_modules/d3/d3.min.js"></script>
    <script src="assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="js/dashboard1.js"></script>
    <script src="js/main.js"></script>
    <script src="js/expertCheck.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#indexExpertName').html(expertStorage["expertName"]);
            if (expertStorage["expertEmail"] == null) {
                window.location.href = home + '/login';
            }
            console.log(expertStorage['expertName']);
            var imageUrl =  expertStorage['imageUrl'];
            $('#imageShow').attr('src' ,imageUrl);
            $('#img_link').attr('href' ,imageUrl);

            $.ajax({
                type: "POST",
                dataType: "json",
                url: home + "/expert/get",
                contentType: "application/x-www-form-urlencoded;charset=utf-8",
                data: "expertEmail=" + expertStorage['expertEmail'] + "&imageUrl=" + imageUrl,
                success: function (data) {
                    console.log(data);
                    var isSuccess = data['msg'];
                    if (isSuccess == "success") {
                        $('#input_cropName').val(data['data']['cropName']);
                        $('#input_diseaseName').val(data['data']['diseaseName']);
                        document.getElementById("input_diseaseType").style.display = "block";
                        document.getElementById("input_reviewTime").style.display = "block";
                        $('#diseaseType').val(data['data']['diseaseType']);
                        $('#reviewTime').val(data['data']['reviewTime']);
                    } else {
                        console.log("还未检测,请专家为病虫害图片检测");
                        // alert("加载检测病虫害失败，请稍后重试");
                    }
                },
                error: function () {
                    alert("访问繁忙，请重试")
                }
            });

        });
        function submitReview() {       //提交专家审核结果
            var diseaseName = $("#input_diseaseName").val();
            var cropName = $("#input_cropName").val();
            var expertName = expertStorage["expertEmail"];
            var imageUrl = expertStorage['imageUrl'];
            $(function() {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: home + "/expert/check",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    data: "expertEmail=" + expertName + "&cropName=" + cropName + "&diseaseName=" + diseaseName + "&imageUrl=" + imageUrl,
                    success: function (data) {
                        console.log(data);
                        var isSuccess = data['msg'];
                        if (isSuccess == "success") {
                            alert("检测病虫害图片成功!");
                            $('#input_cropName').val(data['data']['cropName']);
                            $('#input_diseaseName').val(data['data']['diseaseName']);
                            document.getElementById("input_diseaseType").style.display = "block";
                            document.getElementById("input_reviewTime").style.display = "block";
                            $('#diseaseType').val(data['data']['diseaseType']);
                            $('#reviewTime').val(data['data']['reviewTime']);
                            return false;
                        } else {
                            alert("检测病虫害失败，请稍后重试");
                            return false;
                        }
                    },
                    error: function () {
                        console.log("ajax发送错误");
                        alert("访问繁忙，请重试");
                        return false;
                    }
                });
            });
            return false;
        }
    </script>
</body>

</html>